/* 기본 스타일 설정 */
:root {
    --main-bg-color: #ffffff;
    --sub-bg-color: #E6DACE;
    --sub-bg-color2: #F8F9FA;
    --main-head-color: #ffffff;
    --main-footer-color: #ffffff;
    --template-card-color: #F4ECE6;
    --template-card-color2: #f8f9fa;
    --template-card-color3: #ffffff;
    --font-color: #000;
    --container-bar: #0050FF;
    --button-color: #000;

    --color-black: #000;
    --color-white: #fff;
    --color-accent: #03045e;
    --color-bg: #caf0f8;
    --color-bg-darker: #ade8f4;
    --color-bg-sidebar: #fff;
    --color-bg-nav-hover: #e8f8fb;
    --color-bg-actived: #023e8a;
    --color-border: #03045e;
    --color-text: #03045e;
    --color-text-actived: #fff;
    --color-text-hover: #0096c7;
    --color-badge: #fff;

    --font_0: normal normal bold 100px/1.4em 'Poppins-Semibold', 'NotoSans';
    --font_1: normal normal normal 16px/1.4em 'NotoSans';
    --font_2: normal normal bold 35px/1.4em 'Poppins-Semibold', 'NotoSans';
    --font_3: normal normal bold 27px/1.4em 'Poppins-Semibold', 'NotoSans';
    --font_4: normal normal bold 25px/1.4em 'Poppins-Semibold', 'NotoSans';
    --font_5: normal normal bold 25px/1.4em 'NotoSans';
    --font_6: normal normal bold 20px/1.4em 'Poppins-Semibold', 'NotoSans';
    --font_7: normal normal normal 20px/1.4em 'NotoSans';
    --font_8: normal normal normal 17px/1.4em 'NotoSans';
    --font_9: normal normal normal 14px/1.4em 'NotoSans';
    --font_10: normal normal normal 12px/1.4em 'NotoSans';
}

html.dark {
    --main-bg-color: #121212;
    --sub-bg-color: #2D3135;
    --sub-bg-color2: #2D3135;
    --main-head-color: #222222;
    --main-footer-color: #212529;
    --template-card-color: #1E1E1E;
    --template-card-color2: #1E1E1E;
    --template-card-color3: #1E1E1E;
    --container-bar: #0050FF;
    --font-color: #ffffff;
    --button-color: #343a40;
    --color-accent: #495057;
    --color-bg: #212529;
    --color-bg-darker: #495057;
    --color-bg-sidebar: #343a40;
    --color-bg-nav-hover: #222;
    --color-bg-actived: #495057;
    --color-border: #f8f9fa;
    --color-text: #dee2e6;
    --color-text-actived: #fff;
    --color-text-hover: #adb5bd;
    --color-badge: #495057;
}

.sub-bg-color {
    background-color: var(--sub-bg-color);
}

.sub-bg-color2 {
    background-color: var(--sub-bg-color2);
}

.main-bg-color {
    background-color: var(--main-bg-color);
}

.template-card {
    background-color: var(--template-card-color) !important;
}

.template-card2 {
    background-color: var(--template-card-color2);
}

.template-card3 {
    position: absolute;
    background-color: var(--template-card-color3) !important;
}

.main-bg-content {
    background-color: var(--template-card-color2);
}

.avatar-container {
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flag-indicator {
    width: 10px;
    height: 50px;
    background-color: var(--container-bar);
}

.flag-bullet {
    width: 20px;
    height: 20px;
    background-color: var(--container-bar);
}

/* 전체 페이지의 글꼴과 배경색 설정 */
body {
    min-width: 850px;
    font-family: "NotoSans";
    margin: 0;
}

header {
    background-color: var(--main-head-color) !important;
    height: 80px;
    justify-content: center;
}

footer {
    background-color: var(--main-footer-color);
    height: 80px;
    padding: 30px;
}

.font {
    font-family: "Poppins-Semibold";
    color: var(--font-color);
}

.font.weight{
    font-family: "Poppins-Semibold";
    font-weight: bold;
}

.font_bar{
    fonnt: var(--font_7);
    font-weight: bold;
    color: var(--font-color);
    margin-right: 20px;
}

.font_bar02{
    color: var(--font-color);
    font-family: "NotoSans";
    font-weight: bold;
    font-size: 30px;
    line-height: 2;
}

.font6 {
    font: var(--font_2);
}

.blue {
    color: #0050FF;
}

/* 전체 링크의 색상과 밑줄 제거 */
a {
    text-decoration: none;
    color: var(--font-color);
}

/* 링크에 마우스를 올렸을 때 색상 변경 */
a:hover {
    color: #0056b3;
}

/* 제목 스타일 설정 */
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

/* 이미지 크기 조절 */
img {
    max-width: 100%;
    height: auto;
}

/* 버튼 스타일 설정 */
button {
    display: flex;
    background-color: var(--button-color);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    align-items: center;
    font-weight: bold;
}

/* 버튼에 마우스를 올렸을 때 색상 변경 */
button:hover {
    background-color: #349AFF;
}

/* 입력 양식 스타일 설정 */
input, textarea {
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 5px;
}

/* 입력 양식에 포커스가 있을 때 테두리 색상 변경 */
input:focus, textarea:focus {
    border-color: #007bff;
    outline: none;
}

/* 테이블 스타일 설정 */
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

.ck.ck-content:not(.ck-comment__input *) {
    min-height: 150px;
    overflow-y: hidden;
}

#content {
    min-height: 100vh;
}

#circle {
    background-color : white;
    border-radius: 50%;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#circle {
    display: table-cell;
    vertical-align: middle;
    text-align:center;
}

@font-face {
    font-family: "NotoSans";
    src: url("./font/NotoSansKR-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Poppins-Semibold";
    src: url("./font/Poppins/Poppins-SemiBold.ttf");
}